/*!
Theme Name: I2M_Theme
Theme URI: http://underscores.me/
Author: Astrid Beyer
Author URI: https://gitlab.com/Astrid-Beyer/
Description: Thème dédié à l'Institut de Mathématiques de Marseille, réalisé dans le cadre d'un stage en informatique.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: i2m_theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

I2M_Theme is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 /* display header with logo, title and description in align */
.container {
	display: flex;
	align-items: center !important;
}
.site-title {
	font-size: xx-large;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	word-break: break-word;
	margin-top: 0px;
	margin-bottom: 0px;
}

.site-branding .container {
	margin-bottom: 0px;
}

.custom-logo {
	margin-right: 1em;
}

.custom-logo-link {
	word-break: break-word;
}

.custom-logo-link, .site-title, .site-description {
	display: inline-block;
	text-decoration-color: none;
}

header, a, h1, h2, h3, h4, h5, h6, footer, .entry-content {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

.navbar {
	margin-top: 1em;
	margin-bottom: 1em
}

.dropdown-menu a{
	color: #007bff !important;
} 

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}
/* to show the arrow */
.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}
.dropdown-toggle a::after{
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-menu {
	margin: 0 !important;
}

li.dropdown .dropdown-menu .dropdown-menu{
	left:100%;
}

.dropdown-reverse{
	left: auto!important;
	right:100%!important;
}

.dropright .dropdown-menu {
	margin: 0 !important;
}

.dropdown-menu li:hover {
	visibility: visible;
}

.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.no-margin {
	margin:0px;
}

article a[target]:not(.no-link-icon):after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  	margin: 0 3px 0 5px;
}

a:hover {
	text-decoration:none !important;
}

.sticky-top {
	z-index:0;
}

.widget_em_calendar table th, .widget_em_calendar table td {
	padding: 0.3em;
}

.widget_media_gallery .gallery-item {
	margin: 0;
}

.days-names {
	text-transform: uppercase;
	font-weight: bold;
}

.em-calendar-wrapper {
	display: flex;
	justify-content: center;
}

.go-top {
	position: fixed;
	right: 1em;
	bottom: 5em;
}
.dropdown-item {
	padding: .25rem 0.5rem;
}

.nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    font-weight: bolder;
}

.nav-link-tab {
	display: block;
	padding: .5rem 1rem;
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.nav-link-tab.active {
	//color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}